.questionPage {
    padding: 20px 30px 0 30px;
}

.leftNavbar {
    width: 310px;
    height: 100%;
    padding-top: 40px;
    background-color: white;
}

.divTitle {
    width: 100%;
    height: 41px;
    padding-left: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
}

.divRow {
    width: 100%;
    height: 41px;
    padding-left: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
}

.iconMenu {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #808080;
}

.divRow:hover {
    background-color: var(--light-mint);
}

.divRow:hover .iconMenu {
    color: var(--mint-teal);
}

.listTag {
    display: flex;
    width: 100%;
    gap: 10px;
}

.tagFilter {
    border-radius: 15px;
    padding: 2px 10px;
    background-color: #EAEAEA;
    color: #808080;
}

.tagFilter:hover {
    background-color: #DADADA;
    transition-delay: 0.1s;
}

.iconFilter {
    margin-right: 2px;
}

.postItem {
    padding: 15px;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid #e0e0e0;
    /* Viền mỏng */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Đổ bóng */
}

.listOfPost {
    margin-top: 16px;
    ;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.listOfVoteIcon {
    display: flex;
    gap: 10px;
    color: #001437;
    float: right;
    width: 30%;
    flex-wrap: wrap;
}

.listOfVoteIcon {
    display: flex;
    gap: 10px;
    color: #001437;
    float: right;
    width: 30%;
    flex-wrap: wrap;
}

.voteIconContent {
    border-radius: 0.5em;
    padding: 0 10px;
}

.voteIcon {
    color: var(--mint-teal);
}

.listOfTag {
    display: flex;
    gap: 10px;
    float: left;
    width: 70%;
    flex-wrap: wrap;
}

.postTitle {
    color: var(--mint-teal);
    font-size: 1.5em;
    text-decoration: underline;
    word-wrap: break-word;
}

.postTitle:hover {
    color: var(--green-neon);
    transition-delay: 0.1s;
    /* color: red; */
}